.padt{
    padding-top: 80px;
}
.blog-img{
    width: 100%;
    height: 50ch;
    object-fit: cover;
    transition: transform 1s;
}
.blog-img:hover{
    transform: scale(0.95);
}
.recentBlogImg{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.titleBlog{
    color: #9f896d;
}
.titleBlog:hover{
    color: #4c3f6a;
}
.adImg{
    width: 100%;
    height: 30ch;
    object-fit: cover;
    background: red;
}
.tags-here{
    display: flex;
    flex-wrap: wrap;
}
.tagsItem{
    /* color: #acacad; */
    color: #747575;
}
.tagsItem:hover{
    background-color: #0EC0AA;
    color: #ffffff;
    transition: all 1.0s;
}
.f-name{
    display: flex;
    align-items: center;
}
.sideline{
    width: 40px;
    height: 2px;
    background-color: red;
    display: block
}